<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <div class="row footer-row">

            <div class="footer-col footer-links">
              <h4>Services</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/bearing-manufacturing' | relative_url }}">Manufacturing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/whitemetal-bearing-repair' | relative_url }}">Repair</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/technical-support' | relative_url }}">Technical Support</a></li>
              </ul>
            </div>

            <div class="footer-col footer-links">
              <h4>Engineered Products</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/bearing-design-analysis' | relative_url }}">Design and Analysis</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/re-engineering' | relative_url }}">Re-Engineering</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/babbitt-bearing-product-ranges' | relative_url }}">Product Ranges</a></li>
              </ul>
            </div>

            <div class="footer-col footer-links">
              <h4>Company</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/contact' | relative_url }}">Contact</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/about' | relative_url }}">About Us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/documentation' | relative_url }}">Documentation</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/privacy' | relative_url }}">Privacy Policy</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/sustainability' | relative_url }}">Sustainability</a></li>
              </ul>
            </div>

            <div class="footer-col footer-info">
              <h3>Oiltech Bearings</h3>
              <p>Unit 3 Browns Park<br>
              Brunswick Industrial Estate<br>
              Newcastle Upon Tyne</p>
              NE13 7GD, United Kingdom <br><br>
              +44 (0)191 236 8041<br><br>
              <a href="mailto:sales@oiltechbrg.com">sales@oiltechbrg.com</a>
              <div class="social-links mt-3">
                <a href="https://www.linkedin.com/company/18874504" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="https://www.instagram.com/oiltech_bearings" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.facebook.com/oiltechbrg/" class="facebook"><i class="bx bxl-facebook"></i></a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Oiltech Bearings Ltd</span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->
