<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <div class="row">

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Products</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/plain-journal-bearings-a-series' | relative_url }}">Journal Bearings</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/t-series-tilt-pad-journal-bearings' | relative_url }}">Tilt Pad Bearings</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/j-series-equalising-thrust-bearings' | relative_url }}">Thrust Bearings</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/whitemetal-alloys' | relative_url }}">White Metal Bearings</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Services</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/whitemetal-bearing-repair' | relative_url }}">Bearing Repair</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/re-engineering' | relative_url }}">Reverse Engineering</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/bearing-design-analysis' | relative_url }}">Design &amp; Analysis</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/bearing-failure-modes' | relative_url }}">Failure Analysis</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Company</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/contact' | relative_url }}">Contact</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/about' | relative_url }}">About Us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/documentation' | relative_url }}">Documentation</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ '/sustainability' | relative_url }}">Sustainability</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-info">
              <h3>Oiltech Bearings</h3>
              <p>Unit 3 Browns Park<br>
              Brunswick Industrial Estate<br>
              Newcastle Upon Tyne<br>
              NE13 7GD, United Kingdom</p>
              <p style="color: #fff;">+44 (0)191 236 8041</p>
              <a href="mailto:sales@oiltechbrg.com">sales@oiltechbrg.com</a>
              <div class="social-links mt-3">
                <a href="https://www.linkedin.com/company/18874504" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="https://www.instagram.com/oiltech_bearings" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.facebook.com/oiltechbrg/" class="facebook"><i class="bx bxl-facebook"></i></a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Oiltech Bearings Ltd</span></strong>. All Rights Reserved | <a href="{{ '/privacy' | relative_url }}" style="color: #7ab3e0;">Privacy Policy</a>
    </div>
  </div>
</footer><!-- End Footer -->
