<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Services</h4>
          <ul>
            {% for item in site.data.navigation.footer_services %}
            <li><i class="bi bi-chevron-right"></i> <a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Engineered Products</h4>
          <ul>
            {% for item in site.data.navigation.footer_products %}
            <li><i class="bi bi-chevron-right"></i> <a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Company</h4>
          <ul>
            {% for item in site.data.navigation.footer_company %}
            <li><i class="bi bi-chevron-right"></i> <a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-info">
          <h4>Oiltech Bearings</h4>
          <p>
            Unit 3 Browns Park<br>
            Brunswick Industrial Estate<br>
            Newcastle Upon Tyne<br>
            NE13 7GD, United Kingdom
          </p>
          <p><strong>Phone:</strong> {{ site.company.phone }}</p>
          <p><strong>Email:</strong> <a href="mailto:{{ site.company.email }}">{{ site.company.email }}</a></p>
          <div class="social-links mt-3">
            <a href="{{ site.social.linkedin }}" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <a href="{{ site.social.instagram }}" class="instagram"><i class="bi bi-instagram"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>{{ site.company.name }}</span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->
