<!-- ======= Header ======= -->
{% if page.layout == "home" %}
<header id="header" class="fixed-top">
{% else %}
<header id="header" class="fixed-top header-inner-pages">
{% endif %}
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a href="{{ '/' | relative_url }}" class="logo"><img src="{{ '/assets/img/logo.png' | relative_url }}" alt="{{ site.title }}" class="img-fluid"></a>

    <i class="bx bx-menu mobile-nav-toggle"></i>

    <nav id="navbar" class="navbar ms-auto">
      <ul>
        {% for item in site.data.navigation.main %}
        {% if item.dropdown %}
        <li class="dropdown">
          <a href="{{ item.url | relative_url }}"><span>{{ item.title }}</span> <i class="bx bx-chevron-down"></i></a>
          <ul>
            {% for subitem in item.dropdown %}
            <li><a href="{{ subitem.url | relative_url }}">{{ subitem.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li><a class="nav-link" href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
